<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Twitter"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Germany trends</ion-label>
    </ion-list-header>

    <ion-item>
      <b slot="start">1</b>
      <ion-label>#ionicacademy</ion-label>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small" color="medium"></ion-icon>
    </ion-item>
    <ion-item>
      <b slot="start">2</b>
      <ion-label>#capacitor</ion-label>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small" color="medium"></ion-icon>
    </ion-item>
    <ion-item>
      <b slot="start">3</b>
      <ion-label>#ionicframework</ion-label>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small" color="medium"></ion-icon>
    </ion-item>
    <ion-item>
      <b slot="start">4</b>
      <ion-label>#angular</ion-label>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small" color="medium"></ion-icon>
    </ion-item>
    <ion-item>
      <b slot="start">5</b>
      <ion-label>#devdactic</ion-label>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small" color="medium"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-label color="primary">Show more</ion-label>
    </ion-item>
  </ion-list>

</ion-content>