<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Settings and privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>@schlimmson</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Account</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Privacy and safety</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Notifications</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Content preferences</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>General</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Display and sound</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Data usage</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Accessibility</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>About Twitter</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="medium" class="ion-text-wrap">General settings affet all of your Twitter accounts in this device.</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
